
*
{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Quicksand";
    
}
/* nav bar*/
#nav-bar {
    /*
    display : flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap:  = nowrap;
*/
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar  {
    background-color: #272727;
    padding: 0 !important;
    font-family: "Comfortaa", cursive;
}
.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: #11C5BA !important;
    font-weight: 700;
    float: right;
    text-align: left;
}
.navbar-toggler svg {
    font-size: 20px !important;
    color: #11C5BA;
    
}
.navbar-toggler {
    border: none !important;
}
.logo-name {
    color: #11C5BA;
    font-family: 'Comfortaa', cursive;
}
/* banner section*/

#banner {
    padding-top: 5%;
    background-color: #272727;
    color: #ffffff;
    
}
.name {
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
    color: #11C5BA;
    font-family: "Roboto Condensed",serif;
}
.desc {
    font-size: 30px;
    color: #11C5BA;
    font-family: "Quicksand",serif;
    font-weight: 300;
}
.col-md-6 {
    margin-bottom: 20px ;
    margin-top: 20px;
}
.bottom-img {
    width: 100%;
}
.btn-download {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-color: #11C5BA;
}
#banner a {
    color: #11C5BA;
    text-decoration: none;
}
/*contents*/
#projects {
    padding-top: 80px 0;

}
.connectivity-img {
    width: 100px;
    margin-top: 20px;
}
.projects {
    padding: 20px;
}
.title {
    font-family: "Comfortaa";
}
.projects h4 {
    font-family: "Roboto Condensed";
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.projects p {
    font-family: "Quicksand";
}
.title::before {
    content: '';
    background: #11C5BA;
    height: 5px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after {
    content: '';
    background: #11C5BA;
    height: 10px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(8px);
}
#projects .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-color: #11C5BA;
}
/*ABOUT US*/
#about-us {
    background: #272727;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 50px;
}
#about-us h1 {
    color: #11C5BA;
    font-family: "Comfortaa";
}
.abtus {
    font-family: "Quicksand";
    color: #11C5BA;
    font-size: 30px;
    margin: 20px 0;
}
.about-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 5%;
    color: #11C5BA;
}
#about-us ul li {
    margin: 10px 0;
    color: #11C5BA;
    font-family: "Quicksand";
}
#about-us ul {
    margin-left: 20px;
}
#about-us .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-color: #11C5BA;
   
}
/*contacts*/
#contacts {
    padding-bottom: 50px;
    padding-top: 50px;
    
}
.icons {
    margin-top: 50px;
}
.icon {
    width: 50px;
    margin-top: 0px;
    
}
#contacts a {
    
    font-family: "Quicksand";
    font-size: 20px;
    text-decoration: none;
    color: #272727;
}