* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #ffffff;
}

/* nav bar*/
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-color: #272727;
  padding: 0 !important;
  font-family: "Comfortaa", cursive;
}

.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #11C5BA !important;
  font-weight: 700;
  float: right;
  text-align: left;
}

.navbar-toggler svg {
  font-size: 20px !important;
  color: #11C5BA;
}

.navbar-toggler {
  border: none !important;
}

.logo-name {
  color: #11C5BA;
  font-family: 'Comfortaa', cursive;
}

/*test*/
.container {
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 240px auto;
}

.container .box {
  position: relative;
  width: calc(370px - 30px);
  height: calc(300px - 30px);
  background: #C29968;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
}

.container .box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #C299;
  transition: 500ms;
  z-index: 1;
}

.container .box:hover .icon {
  top: 20px;
  right: calc(50% - 30px);
  width: 60px;
  height: 60px;
  border-radius: 20%;
}

.connectivity-img {
  width: 100px;
  margin-top: 20px;
}

.projects {
  padding: 20px;
}

.title {
  font-family: "Comfortaa";
}

.projects h4 {
  font-family: "Roboto Condensed";
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

.projects p {
  font-family: "Quicksand";
}

.title::before {
  content: '';
  background: #11C5BA;
  height: 5px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.title::after {
  content: '';
  background: #11C5BA;
  height: 10px;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(8px);
}

#btn {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-color: #11C5BA;
}

#more {
  display: none;
}
