.body {
    font-family: 'Comfortaa', cursive;
    background-color: #272727;
}
/*navigation*/
.header {
    width: 100%;
    max-width: 1786px;
    margin: 0 auto;
    padding-right: 75px;
    padding-left: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-weight: 700;
}

.navi {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navi>li {
    font-size: 30px;
    margin-left: 75px;
    margin-top: 20px;
    color: #2DC7BD;
}
.navi>li>a {
    text-decoration: none;
    color: #2DC7BD;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-text {
    font-size: 30px;
    color: #2DC7BD;
    margin-top: 20px;
}
.logo-image {
    display: flex;
    width: 41px;
    height: 73px;
    background-image: url(../images/logo.svg);
    margin-right: 30px;
    margin-top: 20px;
}
/*content*/

/*about*/
.wrap {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    border-top: 1px solid #2DC7BD;
    margin-top: 50px;
}
.about {
    color: #2DC7BD;
    max-width: 1000px;
    margin-left: 470px;

}
.about h1 {
    color: #2DC7BD;
    font-weight: 700;
    font-size: 60px;
    background-color: #272727;
    padding: 15px;
    position: absolute;
    top: 50px;
    margin-left: 370px;
    
}
.about p{
    color: #2DC7BD;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
   
}
/*devs*/
.jureen-image {
    background-position-y: center;
    background-position-x: center;
    display: block;
    width: 100x;
    height: 100px;
    background-image: url(../images/jureen\ 1.svg);
    background-repeat: no-repeat;
    padding: 100px;
    
}
.arman-image {
    background-position-y: center;
    background-position-x: center;
    display: block;
    width: 100x;
    height: 100px;
    background-image: url(../images/arman\ 1.svg);
    background-repeat: no-repeat;
    padding: 100px;
    
}
.romel-image {
    background-position-y: center;
    background-position-x: center;
    display: block;
    width: 100x;
    height: 100px;
    background-image: url(../images/romel\ 1.svg);
    background-repeat: no-repeat;
    padding: 100px;
    
}
.wrap2 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    border-top: 1px solid #2DC7BD;
    margin-top: 100px;
    justify-content: center;
}
.devs {
    color: #2DC7BD;
    max-width: 1000px;
    margin-left: 470px;
    margin-top: 100px;

}
.devs p {
    color: #2DC7BD;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
.devs h1 {
    color: #2DC7BD;
    font-weight: 700;
    font-size: 60px;
    background-color: #272727;
    padding: 15px;
    position: absolute;
    top: 830px;
    margin-left: 300px;
    
}
.devs h2{
    color: #2DC7BD;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
   
}
.devs h3 {
    color: #2DC7BD;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}
/*footnote*/
.footnote {
    color: #ffffff;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    margin-top: 60px;
}


