.body {
    font-family: 'Comfortaa', cursive;
    background-color: #272727;
}

.header {
    width: 100%;
    max-width: 1786px;
    margin: 0 auto;
    padding-right: 75px;
    padding-left: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-weight: 700;
}
.wrap {
    width: 100%;
    max-width: 1786px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}
.navi {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navi>li {
    font-size: 30px;
    margin-left: 75px;
    margin-top: 20px;
    color: #2DC7BD;
}
.navi>li>a {
    text-decoration: none;
    color: #2DC7BD;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-text {
    font-size: 30px;
    color: #2DC7BD;
    margin-top: 20px;
}
.logo-image {
    display: flex;
    width: 41px;
    height: 73px;
    background-image: url(../images/logo.svg);
    margin-right: 30px;
    margin-top: 20px;
}
/*page header(windows)*/
.windows {
    margin-top: 70px;
    border-top: 1px solid #2DC7BD;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.windows h1 {
    background-color: #272727;
    padding: 15px 15px;
    color: #2DC7BD;
    font-size: 20px;
    position: absolute;
    top: 125px;
    margin-left: 40px;
}
/*table*/
.windows-versions {
    width: 1700px;
    margin-left: 95px;
}
.windows-versions th {
    text-align: left;
    color: #2DC7BD;
    font-weight: 500;
    font-size: 25px;
}
.windows-versions td {
    color: #2DC7BD;
    font-weight: 300;
}

.windows-versions,th,td {
    border: 1px solid #2DC7BD;
    border-collapse: collapse;
    padding: 15px 15px;
}
.windows-versions caption {
    text-align: left;
    color: #2DC7BD;
    margin-top: 50px;
    font-size: 15px;
}


/*page header(macos)*/
.macos {
    margin-top: 70px;
    border-top: 1px solid #2DC7BD;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    
    
}
.macos h2 {
    background-color: #272727;
    padding: 15px 15px;
    color: #2DC7BD;
    font-size: 20px;
    position: absolute;
    top: 515px;
    margin-left: 50px;
}
/*macos table*/
.macos-versions {
    width: 1700px;
    margin-left: 95px;

}
.macos-versions th {
    text-align: left;
    color: #2DC7BD;
    font-weight: 500;
    font-size: 25px;
}
.macos-versions td {
    color: #2DC7BD;
    font-weight: 300;
}

.macos-versions,th,td {
    border: 1px solid #2DC7BD;
    border-collapse: collapse;
    padding: 15px 15px;
}
.macos-versions caption {
    text-align: left;
    color: #2DC7BD;
    margin-top: 50px;
    font-size: 15px;
}
/*page header(ios)*/

.ios {
    margin-top: 70px;
    border-top: 1px solid #2DC7BD;
    width: 100%;
    justify-content: center;
    align-items: center;
   
   
}
.ios h3 {
    background-color: #272727;
    padding: 15px 15px;
    color: #2DC7BD;
    font-size: 20px;
    position: absolute;
    top: 905px;
    margin-left: 60px;
}
/*table*/
.ios-versions {
    width: 1700px;
    margin-left: 95px;
}
.ios-versions th {
    text-align: left;
    color: #2DC7BD;
    font-weight: 500;
    font-size: 25px;
}
.ios-versions td {
    color: #2DC7BD;
    font-weight: 300;
}

.ios-versions,th,td {
    border: 1px solid #2DC7BD;
    border-collapse: collapse;
    padding: 15px 15px;
}
.ios-versions caption {
    text-align: left;
    color: #2DC7BD;
    margin-top: 50px;
    font-size: 15px;
}
/*page header(android)*/

.android {
    margin-top: 70px;
    border-top: 1px solid #2DC7BD;
    width: 100%;
    justify-content: center;
    align-items: center;
   
   
}
.android h3 {
    background-color: #272727;
    padding: 15px 15px;
    color: #2DC7BD;
    font-size: 20px;
    position: absolute;
    top: 1300px;
    margin-left: 40px;
}
/*table*/
.android-versions {
    width: 1700px;
    margin-left: 95px;
}
.android-versions th {
    text-align: left;
    color: #2DC7BD;
    font-weight: 500;
    font-size: 25px;
}
.android-versions td {
    color: #2DC7BD;
    font-weight: 300;
}

.android-versions,th,td {
    border: 1px solid #2DC7BD;
    border-collapse: collapse;
    padding: 15px 15px;
}
.android-versions caption {
    text-align: left;
    color: #2DC7BD;
    margin-top: 50px;
    font-size: 15px;
}
/*footnote*/
.footnote {
    color: #ffffff;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    margin-top: 50px;
}